#container {
}
.mailBox {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75%;
  margin: auto;
}
.mI {
  margin: 0 !important;
}
.item {
  box-shadow: 0 1px 0 #000 inset;
}
.author {
  width: fit-content;
  font-weight: 700;
}
.subject {
  font-weight: 600;
}
.status {
  font-weight: 600;
  color: red;
}

.mail-box{
  width: 75%;
    padding: 1em 2em;
    margin: 10px auto;
}
.title-page{
  font-size: 1.5rem!important;
}